%h2 Your appointment

= simple_form_for @appointment do |f|
  = f.label 'Doctor: '
  = f.label @doctor.username
  = f.hidden_field :doctor_id, value: @doctor.id
  %br
  = f.label 'Patient: '
  = f.label current_user.username
  = f.hidden_field :patient_id, value: current_user.id
  %br
  = f.label 'Date: '
  = f.label @month
  = f.hidden_field :date, as: :date, value: @month
  %br
  = f.submit 'Create', class: 'btn btn-primary'
