- @appointments.each do |a|
  .row
  %br
  .card
    .card-header
      = 'Date: '
      = a.date
    .card-body
      - if current_user.role == 'patient'
        = 'Doctor: '
        = a.doctor.username
      - if current_user.role == 'doctor'
        = 'Patient: '
        = a.patient.username
      - if a.recommendation
        .row
        = 'Recommendation: '
        = a.recommendation
      - elsif current_user.role == 'doctor'
        .row
        = link_to 'Give recommendation', edit_appointment_path(id: a.id)
    .card-footer
      = 'Status: '
      = a.status

