%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    = link_to root_path, class: 'navbar-brand' do
      TestProject
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        - if current_user
          %li.nav-item
            = link_to 'Profile', user_path(current_user), class: 'nav-link'
          %li.nav-item
            = link_to 'My appointments', appointment_path(current_user), class: 'nav-link'
        - if can? :read, Category
          %li.nav-item
            = link_to 'Choose type of doctor', categories_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Log in', new_user_session_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Sign up', new_user_registration_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: 'delete'
